html
  head
    title= 'WEB2 PROJEKT2'
    link(rel="stylesheet" href="css/myStyle.css")
  body
    div
      h1= 'SQL umetanje'
      h2= 'Ocjene za korisnika Ivan Ivić'
      if protectionTurnedOn 
        h5.inline(id='protectionStatus')= 'Zaštita protiv SQL umetanja: UKLJUČENA'
        button.inline(onclick="sqlInjectionProtectionOff()" id="protectionStatusButton")= 'ISKLJUČI' 
      else
        h5.inline(id='protectionStatus')= 'Zaštita protiv SQL umetanja: ISKLJUČENA'
        button.inline(onclick="sqlInjectionProtectionOn()" id="protectionStatusButton")= 'UKLJUČI'

      div
      button.inline(onclick="sqlInjectionTautology()")= 'Tautologija'
      button.inline(onclick="sqlInjectionUnion()")= 'Upit UNION'

      form(action=protectionTurnedOn ? "filterGradesProtected" : "/filterGrades" method="post" id="filterGradesForm") 
        h4.inline= 'Filter - Prikaži samo ocjene veće od: '
        input.inline(type="text" id="borderGrade" name="borderGrade", value=gradeBorder)
        input.inline(type="submit" value='OK')
    div
      ul
        each item in grades
          li= 'Id: ' + item.id + ', Student: ' + item.owner_name + ', Ocijena: ' + item.grade + ' - ' + item.grade_name
      a(href="/")
        button= 'POČETNA' 
  script(src="js/myFunctions.js")
